* {
  box-sizing: border-box;
}

body {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
}

/* navbar style */
.navbar-brand {
  font-size: 3rem;
}
.navbar-brand a {
  color: black;
  margin-left: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand:hover {
  color: #feada6;
}

.nav-item a:hover {
  color: #feada6;
}

/* post/comment style */
.input-group {
  margin: 2em;
  max-width: 50rem;
}

.post-list {
  list-style: none;
  margin: 2em;
  border-radius: 10px;
}

.card {
  margin: 2em;
  border-radius: 10px;
  background-color: #abbaab;
  opacity: 75%;
  border-color: #feada6;
}

.card-header {
    font-size: 1.3em;
}

.card-header a {
    text-decoration: none;
    cursor: pointer;
}

/* button style */
button {
  border-radius: 5px;
}
#login-btn,
#post,
#signup-btn {
  margin-left: 2em;
}

.button {
  background-image: linear-gradient(
    to right,
    #abbaab 0%,
    #ffffff 51%,
    #abbaab 100%
  );
}

.button {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 5px;
  display: block;
  border: none;
}

.button:hover {
  background-position: right center;
  color: #feada6;
  text-decoration: none;
}
